@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Ubuntu:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root{
    /* dark blues*/
    --Dark-blue-100: hsla(208, 57%, 60%, 1);
    --Dark-blue-200: hsla(211, 52%, 44%, 1);
    --Dark-blue-300: hsla(213, 84%, 24%, 1);
    --Dark-blue-400: hsla(216, 87%, 20%, 1);
    --Dark-blue-402: hsla(219, 88%, 17%, 1);

    /*light blue*/
    --Light-blue-100:hsla(227, 60%, 97%, 1);
    --Light-blue-200:hsla(229, 52%, 96%, 1);
    --Light-blue-300:hsla(228, 52%, 94%, 1);
    --Light-blue-400:hsla(229, 34%, 75%, 1);
    --Light-blue-500:hsla(230, 28%, 58%, 1);

    /* Gray*/
    --Gray-100:hsla(210, 14%, 83%, 1);
    --Gray-200:hsla(210, 11%, 71%, 1);
    --Gray-300:hsla(210, 7%, 56%, 1);
    --Gray-400:hsla(210, 9%, 31%, 1);
    --Gray-500:hsla(210, 10%, 23%, 1);

}
/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Light-blue-100);
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */

}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    background-color: var(--Dark-blue-402);
    padding: 20px;
    margin-bottom: 10px ;
}

header h1{
    font-weight: 700;
    font-size: 20px;
    color: white;
}

main{
    display: flex;
    margin-inline:auto;
    justify-content: center;
    gap:80px;
    margin-top: 80px;
}


.content textarea{
    font-weight: 400;
    font-size: 32px;
    color: var(--Dark-blue-300);
    overflow-y: hidden;
    overflow: hidden;
}

.content_allowed{
    display: flex;
    align-items: center;
    gap:8px;
    margin-bottom: 16px;
}

.content_allowed p{
    color: var(--Gray-400);
    opacity: 0.8;
    font-weight: 400;
    font-size: 12px;
}

.content_allowed svg{
    height: 16px;
    width: 16px;
}

.content_btns{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.content_encrypt,
.content_decrypt {
    width: 343px;
    height: 67px;
    text-align: center;
    border-radius: 26px;
    color: var(--Dark-blue-300);
    font-weight: 400;
    font-size: 16px;
}

.content_encrypt {
    background-color: var(--Dark-blue-300);
    color: white;
}

.content_decrypt {
    background-color: hsla(214, 26%, 88%, 1);
    border: 1px solid #0A3871;
}

.content_out_empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 24px 32px -8px rgba(53, 68, 132, 0.601);
    word-wrap: break-word;
}

.content_out_empty h3 {
    font-size: 24px;
    margin-top: 20px;
    width: 336px;
    font-weight: 700;
}

.content_out_empty p {
    font-size: 16px;
    width: 336px;
    color: var(--Gray-400);
    margin-top: 10px;
}

.content_out_empty button.content_copy{
    margin: 32px;
    width: 340px;
    height: 57px;
    text-align: center;
    border-radius: 24px;
    color: hsla(213, 84%, 24%, 1);
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #0A3871;
}

@media (max-width: 375px){
       body{
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 933px;
            width: 375px;
            overflow-y:scroll;
       }


       main{
        margin-inline: 16px;
       }

       header h1{
            font-size: 15px;
       }
       .content textarea{
            font-weight: 400;
            font-size: 32px;
            color: var(--Dark-blue-300);
            overflow-y: hidden;
            max-width: 680px;
            min-height: 480px;
            max-height: 480px;
            overflow: hidden;
        }
        
        .content textarea::placeholder{
            color: var(--Dark-blue-300);
        }

        .content_btns{
            flex-direction: column;
        }
   

        .content_out{
            margin-top: 64px;
            display: flex;
            position: relative;
            gap: 32px;
            width: 343px; 
            margin-bottom: 10px;    
        }

        .content_out_empty button.content_copy{
            width: 279px;
        }
        .content_out_empty p{
            margin-top: 20px;
            margin-bottom: 20px;
        }

       .content_out_empty img{
            display: none;
        }
}

@media (max-width:738px){
        body{
            overflow-y:scroll;
        }
        header h1{
            font-size: 20px;
        }

        main{
            margin-inline: 40px;
        }

        .content textarea{
            max-width:100%;
            min-height: 548px;
            max-height: 548px;
            overflow: hidden;
           
        }
        .content_out{
            margin-top: 64px;
  
            margin-bottom: 10px;    
        }

        
        .content_out_empty img{
            display: none;
        }

        .content_out_empty button.content_copy{
            width: 279px;
        }
        .content_out_empty p{
            margin-top: 20px;
            margin-bottom: 20px;
        }

}

@media (max-width:1224px){
    body{
        overflow-y:scroll;
    }
    header h1{
        font-size: 20px;
    }

    main{
        display: block;
        margin-inline: 40px;
    }

    .content textarea{
        max-width:100%;
        min-height: 548px;
        max-height: 548px;
        overflow: hidden;
       
    }
    .content_btns{
        justify-content: center;
    }
    .content_out{
        margin-top: 64px;
        margin-bottom: 10px;    
    }

    .content_out_empty img {
        width: 236px;
        height: 225px;
    }

    .content_out_empty button.content_copy{
        width: 279px;
    }
    .content_out_empty p{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


@media (min-width:1225px){
    body{
        overflow: scroll;
    }
    .content textarea{
        max-width:651px;
        min-height: 548px;
        max-height: 548px;
        overflow: hidden;
    }
    .content_out_empty{
        width: 400px;
        height: 700px;
    }

    .content_out_empty img {
        width: 206px;
        height: 20adf5px;
    }

    .content_out_empty button.content_copy{
        width: 279px;
    }
    .content_out_empty p{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 24px;
    }

    .content_out_empty button.content_copy:hover{
        background-color: var(--Light-blue-500);
        color: black;
        opacity: 0.4;
        transition: 0.25s;
    }
    
    .content_encrypt:hover, .content_decrypt:hover{
        background-color: var(--Light-blue-500);
        color: black;
        opacity: 0.4;
        transition: 0.25s;
    }
    .content_allowed:hover{
        opacity: 0.5;
    }
    header h1:hover{
        opacity: 0.5;
    }
    header svg:hover{
        opacity: 0.5;
    }    


}

